div{
	background-color: red;
	width: 300px;
	height: 300px;
	margin: auto;
	transform: skewy(-30deg);
 }

 /*
 rotate - especifica o angulo de rotação do meu elemento, para usar essa função voce precisa usar um "numero+deg" e tambem pode ser um numero negativo
 -- rotatex
 -- rotatey
 -- rotatez
 -- rotate3d

 skew - ele serve para voce destorcer o elemento na horizontal, na vertical ou ambos
 -- skew
 -- skewx
 -- skewy
  */