.container{
	display: grid;
	grid-template-columns: repeat(3, 100px 200px);
	grid-gap: 20px;
	/*
	voce tambem pode usar o auto-fill para ele uzufluir de toda a tela disponivel
	 */
}
.item{
	background-color: #00f;
	font-size: 20px;
	border-radius: 10px;
	padding: 20px;
	color: #fff;
}