.container{
	display: grid;
	grid-template-columns: repeat(3, minmax(200px 300px));
	grid-auto-rows: minmax(50px auto);
	grid-gap: 20px;
	/*
	grid-auto-rows
	 */
}
.item{
	background-color: #00f;
	font-size: 20px;
	border-radius: 10px;
	padding: 20px;
	color: #fff;
}