a{
	display: block;
	width: 265px;
	font-size: 50px;
	line-height: 58px;
	text-align: center;
	margin: auto;
	margin-top: 200px;
	padding: 20px;
	color: #fff;
	text-decoration: none;
	border-radius: 20px;
	box-shadow: 1px 1px 5px #000;
	background: linear-gradient(180deg, #2a88d0, #2b648f);
}
a:hover{
	background: linear-gradient(180deg, #799fbc, #99bdd9);
}