*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: arial;
}
/*começando o header*/
header{
	height: 120px;
	display: flex;
	justify-content: center;
	background-image:url('../images/cyberpunk-2077-capa.jpg');
	background-position: center top;
	background-size: 100% 334px;
	background-repeat: no-repeat;
}
.container{
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
	width: 100%;
	max-width: 1150px;
}
.nome{
	font-size: 55px;
	color: #c6f7b2;
}
.menu{
	width: 100%;
}
.MenuMobile{
	display: none;
	width: 40px;
	height: 40px;
}
.mm_line{
	width: 100%;
	height: 3px;
	background-color: #c6f7b2;
}
nav ul,
nav li{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
nav ul{
	display: flex;
	justify-content: space-around;
}
nav a{
	display: block;
	text-decoration: none;
	color: #c6f7b2;
	font-size: 20px;
}
nav a:hover{
	text-decoration: underline;
}
.active{
	text-decoration: underline;
}
/*terminando o header*/
/*começando o #geral*/
#geral{
	display: flex;
	justify-content: center;
	background-image: url('../images/banner.jpg');
	background-position: center;
	background-size: 100% 937px;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
section{
	background-color: #fff;
	width: 100%;
}
.widget_track{
	display: flex;
	justify-content: center;
	width: 100%;
}
.widget_gal{
	margin-top: 15px;
	margin-bottom: 15px;
	padding-bottom: 15px;
	padding-right: 200px;
	padding-left: 200px;
	color: #000;
	font-size: 35px;
	border-bottom: 1px solid #000;
	font-weight: bold;
}
article{
	margin-left: 20px;
	margin-right: 20px;
}
.widget_title{
	font-size: 20px;
	font-weight: bold;
}
.widget_text{
	font-size: 15px;
	line-height: 22px;
}
.widget_title,
.widget_text{
	margin-top: 15px;
}
.widget_subtitle{
	font-size: 18px;
	margin-top: 15px;
	font-weight: bold;
}
.bottom{
	margin-bottom: 15px;
}
/*terminando o #geral*/
/*começamdo o footer*/
footer{
	display: flex;
	justify-content: center;
	height: 85px;
	background-color: #3c3c3c;
}
.footer{
	display: flex;
	flex-direction: row;
	color: #fff;
}
.footer a{
	text-decoration: none;
	color: #fff;
}
.footer a:hover{
	text-decoration: underline;
}
@media only screen and (max-width: 600px){
	header{
		height: auto;
	}
	.nome{
		font-size: 44px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.widget_gal{
		padding-right: 81px;
		padding-left: 81px;
	}
	.MenuMobile{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin: auto;
		margin-bottom: 10px;
	}
	nav ul{
		display: none;
		flex-direction: column;
		position: absolute;
		width: 100%;
		background-color: #fff;
		background-color: #ededed;
	}
	nav a{
		color: #000;
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.footer{
		flex-direction: column;
		font-size: 12px;
	}
}