*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: arial;
}
/*começando o header*/
header{
	height: 120px;
	display: flex;
	justify-content: center;
	background-image:url('../images/cyberpunk-2077-capa.jpg');
	background-position: center top;
	background-size: 100% 334px;
	background-repeat: no-repeat;
}
.container{
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
	width: 100%;
	max-width: 1150px;
}
.MenuMobile{
	display: none;
	width: 40px;
	height: 40px;
}
.mm_line{
	width: 100%;
	height: 3px;
	background-color: #c6f7b2;
}
.nome{
	font-size: 55px;
	color: #c6f7b2;
}
.menu{
	width: 100%;
}
nav ul,
nav li{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
nav ul{
	display: flex;
	justify-content: space-around;
}
nav a{
	display: block;
	text-decoration: none;
	color: #c6f7b2;
	font-size: 20px;
}
nav a:hover{
	text-decoration: underline;
}
.active{
	text-decoration: underline;
}
/*terminando o header*/
/*começando o #geral*/
#geral{
	display: flex;
	justify-content: center;
}
.widget_gal{
	color: #000;
	font-size: 35px;
	padding: 15px 200px 15px 200px;
	border-bottom: 1px solid #000;
	font-weight: bold;
}
.widget_movies{
	display: flex;
	flex-wrap: wrap;
}
.widget_geral{
	display: flex;
	max-width: 120px;
	flex-direction: column;
	flex-wrap: wrap;
	border: 1px solid #dcdcdc;
	border-radius: 10px;
	font-size: 15px;
	overflow: hidden;
	margin-top: 15px;
	margin-left: 27px;
	margin-right: 15px;
}
.widget_geral img{
	width: 120px;
	height: 190px;
	margin-bottom: 8px;
}
.movie_name,
.character,
.year{
	margin-bottom: 8px;
	margin-left: 8px;
}
.character{
	font-weight: bold;
}
.movie_name{
	word-wrap: break-word;
}
/*terminando o #geral*/
/*começamdo o footer*/
footer{
	display: flex;
	justify-content: center;
	margin-top: 15px;
	height: 85px;
	background-color: #3c3c3c;
}
.footer{
	display: flex;
	flex-direction: row;
	color: #fff;
}
.footer a{
	text-decoration: none;
	color: #fff;
}
.footer a:hover{
	text-decoration: underline;
}
@media only screen and (max-width: 600px){
	header{
		height: auto;
	}
	.MenuMobile{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin: auto;
		margin-bottom: 10px;
	}
	nav ul{
		display: none;
		flex-direction: column;
		position: absolute;
		width: 100%;
		background-color: #fff;
		background-color: #ededed;
	}
	nav a{
		color: #000;
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.widget_gal{
		padding-right: 50px;
		padding-left: 50px;
		font-size: 25px;
	}
	.widget_geral{
		margin-left: 25px;
	}
	.nome{
		font-size: 44px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.footer{
		flex-direction: column;
		font-size: 12px;
	}
}