body{
	margin: 0px;
	padding:  0px;
}
header{
	width: 100%;
	height: 200px;
	background-color: #ccc;
}
.container{
	display:  flex;
}
aside{
	height: 900px;
	flex: 1;
	background-color: #999;
}
section{
	flex: 4;
	height: 900px;
	background-color: #555;
}
footer{
	width: 100%;
	height: 200px;
	background-color: #333;
}
