.container{
	background-color: #ccc;
	display: grid;
	grid-template-columns: repeat(3, 200px);
	grid-gap: 20px;
	/*
	é basicamente os mesmos posicionamentos que nós usamos no flex-box
	 */
}
.item{
	background-color: #00f;
	font-size: 20px;
	border-radius: 10px;
	padding: 20px;
	color: #fff;
}